* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:16px;
}
.sale{
  background-color: red;
  color: white;
  width: 60px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  top: -15px;
  left: -40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
}
.big{
  position: relative;
}

.small-1,.small-2,.small-3,.small-4,.small-5,.small-6{
  background-color:black;
  width:20px;
  height:20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.small-2{
  background-color:blue;
  position: absolute;
  left: 40px;
}
.small-3{
  background-color: red;
  position: absolute;
  left: 80px;
}
.small-4{
  background-color: yellow;
  position: absolute;
  left: 120px;
}
.small-5{
  background-color: green;
  position: absolute;
  left: 160px;
}
.small-6{
  background-color: brown;
  position: absolute;
  left: 200px;
} 
.art{
  border:4px solid;
  font-size:18px;
  font-family:sans-serif;
  line-height:1.4;
/*   margin: 50px 300px; */
  width: 825px;
  margin:50px auto;
  position: relative;
}
/* product */
.title{
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 25px;  
}
p strong {
  font-size: 22px;
}
.ready{
  margin-top: 40px;
  clear: both;
  font-size:16px;
}
.ship{
  color:#6d7172;
  text-transform: uppercase;
  font-size:12px;
  float: right;
}

.more-info:link,.more-info:visited{
  color:black; 
}
.more-info:active,.more-info:hover{
  text-decoration: none;
}

/* product details */
.product{
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 25px;
}
.detail-list{
  margin:20px 20px;
}
.detail-list li{
  list-style-type:square;
}
.add{
  background-color:#000;
  color:#fff;
  text-transform:uppercase;
  border:none;
  font-size:20px;
  cursor:pointer;
  width:100%;
  padding:20px;
  border-top:3px solid;
  margin-top:0px;
}
.add:hover{
  background-color:#fff;
  color:#000;
}

.photo{
  float: left;
  margin-right:40px;
}

.price{
  float:left;
  width:243px;
  margin-right:40px;
  margin-top:20px;
}
.product-details{
  float: left;
  width: 243px;
}

.container{
/*   background-color:red; */
}
.clearfix::after{
  content:'';
  clear:both;
  display:block;
} 
